appdirs==1.4.4
bitarray==2.8.1
bitstring==4.1.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0
circup==1.2.3
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cryptography==41.0.4
cycler==0.12.1
ecdsa==0.18.0
findimports==2.3.0
fonttools==4.43.1
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.0
msvc-runtime==14.34.31931
numpy==1.26.0
opencv-python==4.8.0.76
packaging==23.2
Pillow==10.1.0
pycparser==2.21
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.8.2
PyYAML==6.0.1
reedsolo==1.7.0
requests==2.31.0
scipy==1.11.3
semver==2.13.0
six==1.16.0
update-checker==0.18.0
urllib3==2.0.6
